@page
@using Tasks.EntityModels

@model Tasks.Web.Pages.ActivitiesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@section navStyle {
<style>
td{
  height: 20px;
}

  table{
    height: 100%;
  }
  .row {
    float: left;
    width: 700px;
    height: 500px;
    max-height: 400px;
    overflow: auto;


    max-width: 800px;
    margin: 0 auto;
    margin-top: 200px;
    margin-left: 5%;
    border: 3px solid black;
    /*margin-right: 0px;*/

  }

  .fecha {
    float: right;
    width: 100%;
    max-width: 144px;
    border: 3px solid black;
    margin-top: 200px;
    margin-left: 0%;


  }

  .container {

    max-width: 1000px;
    margin: 0 auto;
    margin-left: 10%;
  }

  .añadir {
    float: left;
    margin-left: 20%;
    margin-top: 50px;
    width: 100%;
    


  }
  a{
    color: black;
     text-decoration: none;
  }

  .navActivity { 
            background-color: rgb(78, 159, 159); 
        } 
</style>
}
<div class="container">

  <div class="row">

    <table class="table">
      <thead class="thead-inverse" style="position: sticky; top: 0">
        <tr>

          <th colspan="4" style="border: none;">
            <h1>Actividades</h1>
          </th>
        </tr>
        <tr>
          <th>Eliminar</th>
          <th>Fecha</th>
          <th>Actividad</th>
          <th>detalles</th>
        </tr>
      </thead>

      <tbody>

        <div class="activities">

          @if (Model.Activities is not null)
          {
            @foreach (Activity a in Model.Activities)
            {
              string date = a.Date.ToString("dd/MM/yyyy");
              <tr>
                <td>
                  <form method="post" asp-page-handler="Delete" asp-route-id="@a.ActivityID">
                    <input type="submit" value="eliminar">
                  </form>
                </td>
                <td>@date</td>
                <td>@a.ActivityName</td>
                <td><input type="submit" value="ver detalles"></td>
              </tr>
            }
          }
        </div>
      </tbody>
    </table>

  </div>
  <div class="fecha">
    @{
      string fecha;
      if (Model.fecha == DateTime.MaxValue) { fecha = "dd/mm/aaaa"; } else { fecha = Model.fecha.ToString("yyyy-MM-dd"); }
    }
    <form method="POST" asp-page-handler="FilterDate">
      <input type="date" id="fecha" name="fecha" onchange="this.form.submit()" value="@fecha" required>
    </form>

  </div>

</div>
<div class="añadir">
  <form method="post" asp-page-handler="Add">
    <input type="text" asp-for="Activity!.ActivityName"><input type="date" asp-for="Activity!.Date"
      value="dd/mm/aaaa"><input type="submit" value="Añadir">
  </form>
</div>
