.navActivity { 
    background-color: rgb(78, 159, 159); 
    cursor: default;
    } 
    table {
      height: 100%;
    }


    .row {
      float :left;
      align-self: flex-start;
      width: max(60%, 550px);
      float: left;
      max-height: 300px;
      overflow-x: auto;




    }
    .row1 {
      float :left;
      align-self: flex-start;
      width: max(60%, 550px);
      float: left;
      max-height: 300px;
      overflow-x: auto;




    }
    

    .fecha {
      float: right;
      align-self: flex-start;
      width: 20%;
      margin-right: 10%;
      height: fit-content;
    }
    .añadirta {
      float: right;
     
      width: 25%;
      margin-right: 10%;
      
    }

    .container {
      position: sticky;
     height: 300px;
      margin-top: 150px;
      
    }

    .mt-100 {
      margin-top: 100%;
    }

    .añadir {
      
      padding: 5px;
      margin-left: 25%;
      position: sticky;
      margin-top: 5px;
      height: fit-content;
    align-self: flex-start;
    width: 250px;
     height: 200px;
      float: left ;
      


    }

    .del-col {
      width: 62.8px;
    }

    .date-col {
      width: 45%;
    }

    .activity-col {
      width: 50%;
    }

    .datails-col {
      width: 50px;
    }

    .form {
      width: 35%;
      height: fit-content;
    }
    .xd{
      max-height:50px ;
    }
    .titulo{
      margin-top: 100px;
    }