body {
  width: 100%;
}

#home { 
  background-color: rgb(81, 130, 194);
  cursor: default;
} 

.mt-100 {
  margin-top: 100px;
}

.activity-table {
  align-self: flex-start;
  width: max(80%, 700px);
  max-height: 770px;
  margin-right: 5%;
  overflow-y: auto;
}

.name-col {
  width: 45%;
}

.date-col {
  width: 25%;
}

.container {
  position: sticky;
}